*, *::before, *::after{
  box-sizing: border-box;
}

body {
  background: #EAEDED;
}
/* Filter Stack */
tbody tr:nth-child(odd) {
  background: #ff3ccf;
}

tbody tr:nth-child(even) {
  background: #e495e4
}

.table-container {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
/* FilterSearch */

/* Table */